.logo {
    width: 35px;
    height: 35px;
    padding-top: 8px;
    padding-right: 10px;
}

.heading {
    display: flex;
    justify-content: center;
    font-size: 40px;

}

.rules {

    display: flex;
    justify-content: flex-end;
    width: 60px;
    height: 60px;
    padding-left: 20px;
}

.start {

    display: block;
    
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 55%;
    height: auto;
    max-height: auto;
    max-width: 830px;
    margin-left: 23%;
    padding: 20px;
    font-family: cursive;

}

.start h2 {
    text-align: center;
}

#green {
    color: green;
    font-weight: bold;
}

#orange {
    color: orange;
    font-weight: bold;
}

#red {
    color: red;
    font-weight: bold;
}

#name {
    margin-left: 24%;
}

.main {
    display: block;
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 85%;
    height: 95vh;
    max-height: auto;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    visibility: hidden;
}